/*―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
0.全体に適用するCSS

1.header

2.main

3.footer
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/

/*―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  0.全体に適用するCSS
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
a{
    text-decoration: none;
    display: block;
    color: #333333;
}
body{
    background-color: #F6F6F6;
}
li{
    list-style: none;
}

/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  1.header
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/

.header_area{
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    width: 920px;
    border-top:8px solid #6CC6C4;
}
.left_header{
    margin-top: 60px;
}
.icon:hover{
    opacity: 0.5;
}
/* right_header 
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.sub_title{
    font-size: 10px;
    margin: 15px 0px;
}
.number{
    font-size: 25px;
    text-align: right;
    margin: 25px 0px 10px 0px;
}
.number h2{
    font-weight: normal;
}
.business_hours{
    border: 1px solid rgb(214, 214, 214);
    padding: 10px 20px;
    font-size: 10px; 
}
.business_hours span{
    color: #C984A1;
}
.menu-btn{
    display: none;
}
.sp-navi{
    display: none;
}
@media screen and (max-width: 1024px){
    .header_area{
        width: 100%;
        box-sizing: border-box;
        padding-left:  50px;
    }
    .left_header{
        margin-top: 40px;
    }
    .right_header{
        margin-right: 80px;
    }
    .number{
        margin-top: 0px;
    }
    .menu-btn{
        display: block;
    }
    .menu-btn:hover{
        opacity: 0.5;
    }
    .sp-navi{
        display: block;
    }
    .navi{
        display: none;
    }

      /*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6CC6C4;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #6CC6C4;
    border-radius: 4px;
    transition: all .5s;
  }
  .menu-btn span:before{
    bottom: 8px;
  }
  .menu-btn span:after{
    top: 8px;
  }/*----------------------------
* メニュー本体
*----------------------------*/
.sp-navi{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30%;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
    color: #fff;
  }
  .sp-navi li{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }
  .sp-navi a{
    color: #fff;
  }
  /*----------------------------
  * アニメーション部分
  *----------------------------*/
  
  アニメーション前のメニューの状態
  .sp-navi{
    transform: translateX(100vw);
    transition: all .3s linear;
  }
  アニメーション後のメニューの状態
  .sp-navi.is-active{
    transform: translateX(0);
  }
  .is-none{
    display: none;
  }
  .is-active{
    display: flex;
  }
  @media screen and (max-width: 640px){
    .header_area{
        display: block;
        padding-left:  0px;
    }
    .left_header{
        width: 230px;
        margin: 10px auto 0px;
    }
    .right_header{
        width: 230px;
        margin: 0 auto;
    }
  }
}
/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  2.main
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
main{
    width: 920px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
/* navi 
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.navi ul{
    display: flex;
    justify-content:space-between;
}
.navi li{
    display: block;
    background-color: #80D2D0;
    border: solid 1px #6CC6C4;
    width: 20%;
    margin: 0 auto;
    padding: 17px 0;
}
.navi a{
    color: white;
    font-weight: bold;
}
.navi li :hover{
    background-color: #6DC6C4;
}
.navi_ja{
    display: block;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}
.navi_en{
    display: block;
    text-align: center;
    font-size: 10px;
}
.main_area{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}
@media screen and (max-width: 1024px){
    main{
        width: 100%;
    }
    .main_area{
        display:block;
    }
    .main_left{
        display: none;
    }
    .top_image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
/* slide
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
button{
	opacity:.6;
	transition:opacity .2s;
	border:none;
	background:none;
}

button:focus{
	outline:none;
}

button:hover{
	opacity:1;
}

.top_image{
    position: relative;
    overflow: hidden;
    height: 500px;
}
.top_image ul{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    display: flex;}
#prevBtn{
    position: absolute;
    top: 225px;
    left: 20px;
}
#prevBtn img{
    width: 30px;
    height: 55px;
}
#nextBtn{
    position: absolute;
    top: 225px;
    right: 20px;
}
#nextBtn img{
    width: 30px;
    height: 55px;
}
.sp_top_image{
    display: none;
}
@media screen and (max-width: 1024px){
    .top_image{
        display: none;
    }
    .sp_top_image{
        display: block;
    }
    .sp_top_image img{
        width: 100%;
        margin: 0 auto;
    }
}
/* sub_navi 
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.sub_navi{
    width: 255px;
    height: 230px;
    border: solid 1px #6CC6C4; 
    margin: 0px 20px 20px 0px;
    background-color: white;

}
.sub_navi_title{
    background-color: #80D2D0;
    color: white;
    padding: 10px;
}
.sub_navi ul{
    padding: 10px 15px;
    background-color: white;
}
.sub_navi li{
    width: 230px;
    line-height: 40px;
    /* font-weight: bold; */
    border-bottom: solid 1px #6CC6C4; 
}
.sub_navi span{
    color: #6CC6C4;
}
.sub_navi li :hover{
    color: #6CC6C4;
}

/* news 
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.news_area{
    margin-top: 5px;
    background-color: white;
    padding: 50px 20px;
    color: #515151;
}
.news_title{
    border-bottom: solid 3px #6CC6C4; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.info{
    display: flex;
    justify-content:start;
    padding: 10px 0;
    font-size: 13px;
    border-bottom: dotted 1px #515151;
    margin-bottom: 10px;
}
dt{
    font-weight: bold;
    width:25%
}
dd{
    width: 72%;
}
@media screen and (max-width: 1024px){
    .info{
        display: block;
    }
    dt{
        width:50%;
        margin-bottom: 10px;
    }
    dd{
        width: 100%;
    }
}
/* sp_sub_navi 
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.sp_sub_navi{
    display: none;
}
@media screen and (max-width: 1024px){
    .sp_sub_navi{
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 0 20px;
        margin: 0 auto 20px;
        /* border: solid 1px black; */
    }
    .sp_sub_navi li{
        text-align: center;
        line-height: 30px;
        border-bottom: dotted 1px #515151;       
    }
    .sp_sub_navi li :hover{
        color: #6CC6C4;
        opacity: 0.8;
    }
}

/*――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――― 
――
  3.footer
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
footer{
    width: 920px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
/* footer_navi 
――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
*/
.footer_navi ul{
    display: flex;
    justify-content:start;
    background-color: #80D2D0;
}
.footer_navi a{
    color: white;
    margin-left: 15px;
    line-height: 200%;
}
.footer_navi li :hover{
    text-decoration: underline;
}
.footer_address{
    text-align: end;
    font-size: 13px;
    line-height: 300%;
    border-bottom: solid 2px  #6CC6C4;
}
.footer_address span{
    font-weight: bold;
}
.copyright{
    text-align: center;
    font-size: 12px;
    line-height: 400%;
}
@media screen and (max-width: 1024px){
    footer{
        width:100%;
    }
    .footer_navi ul{
        display: block;
    }
    .footer_navi a{
        text-align: center;
    }
    .footer_address{
        text-align: center;
    }
    
}
